*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;

 background: gainsboro;
}
h1{
 margin-left: 29%;
}
input{
 display: block;
 margin-bottom: 10px;
 /* margin-top: 30px; */
/* border: 0; */
}

form{
 margin: auto;
width: 400px;
margin-top: 40px;


}

button{
 background-color: red;
 /* margin: auto; */
 margin-left: 70px;
 margin-top: 20px;
 display: block;

 /* text-align: center; */
}